/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.mt-200 {
	margin-top: 200px;
}

.menu-link.active {
	color: #8A9A5B;
	font-weight: 600;
}

.integration-section .icon svg{
	max-width: 40%;
	height: 64px;
	margin-bottom: 16px;
}

.project-highlight {
	background: #FFF;
	width: 320px;
}

.text-22px {
	font-size: 22px;
}

.size-150 {
	height: 150px;
}

ul.integrations li svg {
	height: 60px;
}